# Secrets
:
*.db
*.db-journal
secrets
secrets.bak
*.pem
token.json
data

# Settings and Caches
.venv
venv/
.idea/
.vscode
.pytest_cache
*__pycache__/
*.log
logs/
.ruff_cache
notes/
backups/
.coverage
htmlcov/
majors.*
resumes/

# Mac Specific Files
.DS_Store