discord.py~=2.3.2
google-api-python-client~=2.159.0
google-api-python-client-stubs~=1.29.0
google-auth-httplib2~=0.2.0
google-auth-oauthlib~=1.0.0
pytz~=2023.3.post1
pytest~=8.3.3
uvicorn~=0.34.0
fastapi~=0.115.11
cryptography~=44.0.2